NEXT_PUBLIC_SUPABASE_URL=https://ktdulbcwnoltwjbqwaun.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imt0ZHVsYmN3bm9sdHdqYnF3YXVuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODQ5MDE2NDAsImV4cCI6MjEwMDQ3NzY0MH0.P3-sNZk6pGptug2q55_yuAu1VMixw7uQG4O_yTJnuPc
